.TeamManagerFormDialog.aceDialog {
  width: 100% !important;
  min-width: 100%;
  min-height: 100%;
  height: 100% !important;
  border: 0px solid #FFF;
  position: fixed !important;
  top: 0;
  padding: 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ui-dialog.confirmationDialog:not(.contactMatchDialog), .ui-dialog.warningDialog, .ui-dialog.faultHandlerDialog {
  background-color: #fff;
}

.savingToast {
  color: #FFFFFF;
  background-color: #33cc33;
  /* Black background color */
  left: 50%;
  /* Center the snackbar */
  top: 30px;
}

.loadingIndicator {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 16px;
  z-index: 10000;
  position: fixed;
  color: #ffffff;
  left: 40%;
  top: 30px !important;
  margin: 0 auto;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.TeamManagerFormDialog.aceDialog .ui-dialog-titlebar {
  margin: 0;
  padding: 0 16px 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFF;
  background-color: #2776BD !important;
  border-bottom: 0px dotted #515151;
  min-height: 48px;
  line-height: 1;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.TeamManagerFormDialog.aceDialog .ui-dialog-title {
  line-height: 48px;
  height: 100%;
  font-size: 1.2rem;
  width: auto;
  font-weight: 500;
  color: #FFFFFF;
  display: block;
}

.TeamManagerFormDialog.aceDialog .ui-button.ui-dialog-titlebar-close {
  display: none;
}

.teamManagerWrapper.ui-dialog-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #EEE;
  min-width: 100%;
  width: 100% !important;
  overflow: hidden;
}

.teams-sideBar {
  width: 33%;
  min-width: 216px;
  max-width: 316px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 8px;
  padding: 16px;
  background-color: #FFF;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  /* border: 1px solid #eee; */
}

.sideBar-title {
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: 500;
  color: #2776bd;
}

input.sidebarTeamDiv {
  height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 8px;
}

div[id="ManagedTeams"], div[id="UnmanagedTeams"] {
  border: 1px solid #b7bfc8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div[id="ManagedTeams"] {
  margin-bottom: 4px;
}

.managedListTitle {
  font-size: .8rem;
  font-weight: 500;
  color: #484848;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: #e2e2e2;
  border-bottom: 1px solid #b7bfc8;
}

div[id="UnmanagedTeams"] {
  margin-top: 4px;
}

.unmanagedListTitle {
  font-size: .8rem;
  font-weight: 500;
  padding: 8px;
  border-bottom: 1px solid #b7bfc8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: #eee;
}

ul[id="managedList"], ul[id="managedList"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebarTeamItem {
  font-size: .8rem;
  color: #484848;
  line-height: 24px;
  padding-left: 8px;
  border-bottom: 1px solid #b7bfc8;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebarTeamItemHover {
  background-color: #f2f2f2;
}

.sidebarTeamItemClicked {
  background-color: #d4e4f2;
}

.mainWindow {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  border-radius: 4px;
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.mainWindow .editControlContainer {
  margin-bottom: 8px;
}

.mainWindow input.ui-autocomplete-input {
  background-image: url("../images/png/icon-search--default.png");
  background-repeat: no-repeat;
  background-position: center left 4px;
  padding: 2px 16px 2px 24px !important;
}

.mainWindow input.ui-autocomplete-input:hover {
  background-image: url("../images/png/icon-search--hover.png");
}

.mainWindow input.ui-autocomplete-input:active, .mainWindow input.ui-autocomplete-input:focus {
  background-image: url("../images/png/icon-search--focus.png");
}

.teamNameHeader {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: 500;
  color: #2776bd;
}

.mainWindow .componentContainer.subSectionItem {
  width: 100% !important;
  margin-bottom: 8px;
}

.mainWindow .componentContainer.subSectionItem {
  max-width: 300px;
}

.TeamManagerFormDialog.aceDialog .ui-dialog-buttonpane.ui-widget-content {
  border: 0px solid #fff;
  border-top: 0px solid #ddd;
  background: #f5f5f5;
  background-image: none;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 0 -1px 6px -1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 -1px 6px -1px rgba(0, 0, 0, 0.4);
}

.TeamManagerFormDialog.aceDialog .ui-dialog-buttonpane.ui-widget-content .cancelButton {
  border: 1px solid #F5F5F5 !important;
}

/* la-input styles */
.TeamManagerFormDialog la-input input[id="la-input"] {
  color: #484848;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  font-size: 0.8rem !important;
  height: 24px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF no-repeat center left 4px;
  padding: 2px 16px 2px 8px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.TeamManagerFormDialog la-input input[id="la-input"]:hover {
  border: 1px solid #BEBEBE;
  background: no-repeat center left 4px;
}

.TeamManagerFormDialog la-input input[id="la-input"]:active {
  border: 1px solid #2776BD;
  background: no-repeat center left 4px;
}

.TeamManagerFormDialog la-input input[id="la-input"]:focus {
  border: 1px solid #2776BD !important;
  background: no-repeat center left 4px !important;
}

.TeamManagerFormDialog la-input input[id="la-input"][disabled] {
  border: 1px solid #F7F7F7;
  color: #BEBEBE !important;
  background: no-repeat center left 4px;
}

.TeamManagerFormDialog [id="la-input-underline"] {
  display: none;
}

/* search input styles*/
.TeamManagerFormDialog input[id="la-input"].ui-autocomplete-input, .TeamManagerFormDialog [id="ManagedTeamsFilter"] input[id="la-input"] {
  background: url("../images/png/icon-search--default.png") no-repeat center left 4px;
  padding: 2px 16px 2px 24px;
}

.TeamManagerFormDialog input[id="la-input"].ui-autocomplete-input:hover {
  border: 1px solid #BEBEBE;
  background: url("../images/png/icon-search--hover.png") no-repeat center left 4px !important;
}

.TeamManagerFormDialog input[id="la-input"].ui-autocomplete-input:active, .TeamManagerFormDialog input[id="la-input"].ui-autocomplete-input:focus {
  border: 1px solid #2776BD;
  background: url("../images/png/icon-search--focus.png") no-repeat center left 4px !important;
}

.TeamManagerFormDialog input[id="la-input"].ui-autocomplete-input[disabled] {
  border: 1px solid #F7F7F7;
  color: #BEBEBE !important;
  background: url("../images/png/icon-search--disabled.png") no-repeat center left 4px !important;
}

/* filter input styles*/
.TeamManagerFormDialog [id="ManagedTeamsFilter"] {
  width: 100%;
  margin-bottom: 8px;
}

.TeamManagerFormDialog [id="ManagedTeamsFilter"] input[id="la-input"] {
  background: url("../images/png/icon-filter--default.png") no-repeat center left 4px;
  padding: 2px 16px 2px 24px;
}

.TeamManagerFormDialog [id="ManagedTeamsFilter"] input[id="la-input"]:hover {
  border: 1px solid #BEBEBE;
  background: url("../images/png/icon-filter--hover.png") no-repeat center left 4px !important;
}

.TeamManagerFormDialog [id="ManagedTeamsFilter"] input[id="la-input"]:active, .TeamManagerFormDialog [id="ManagedTeamsFilter"] input[id="la-input"]:focus {
  border: 1px solid #2776BD;
  background: url("../images/png/icon-filter--focus.png") no-repeat center left 4px !important;
}

.TeamManagerFormDialog [id="ManagedTeamsFilter"] input[id="la-input"][disabled] {
  border: 1px solid #F7F7F7;
  color: #BEBEBE !important;
  background: url("../images/png/icon-filter--disabled.png") no-repeat center left 4px !important;
}

/* slick grid styles */
.membersContainer.aceDataGrid .slick-pane-header {
  z-index: 100 !important;
}

.membersContainer.aceDataGrid .slick-cell .deleteButton {
  width: 100%;
  height: 100%;
  /* background-image: url("../images/png/delete-default.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border: 0px solid #fff;
  cursor: pointer;
}

.membersContainer.aceDataGrid
.membersContainer.aceDataGrid .slick-cell.editable input.editor-text {
  background-image: none !important;
  padding-left: 0px;
  text-indent: 2px;
  height: 20px !important;
  vertical-align: top;
  background-color: transparent !important;
  border-bottom: 2px solid #ffffff;
  width: 100%;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.membersContainer.aceDataGrid .slick-row:hover .slick-cell .deleteButton {
  width: 100%;
  height: 100%;
  /* background-image: url("../images/png/delete-active-FFF.png"); */
}

.membersContainer.aceDataGrid .slick-row:active .slick-cell .deleteButton {
  width: 100%;
  height: 100%;
  /* background-image: url("../images/png/delete-active-FFF.png"); */
}

/* line 1369, scss/_ALM-membersContainer.scss */
.membersContainer.aceDataGrid .slick-row .selected.slick-cell .deleteButton {
  width: 100%;
  height: 100%;
  /* background-image: url("../images/png/delete-active-FFF.png"); */
}

.membersContainer.aceDataGrid .slick-row:active .slick-cell .deleteButton {
  width: 100%;
  height: 100%;
  /* background-image: url("../images/png/delete-active-FFF.png"); */
}
